.contact .head h1{
    color: var(--title);font-weight: bold;
}
.contact .head span {
    color: var(--subTitle);
    padding-right: 0.5rem;
}
.contact .head p{
    color: var(--subTitle);
}
.contact .form form div{
    display: flex;
    align-items: center;
}
.contact .form form label{
    color: var(--subTitle);
    font-size: 1.1rem;
    font-weight: 500;
    padding-right: 3rem;
}.contact .form form textarea {
    min-height: 200px;
}
.contact .form form input, .contact .form form textarea{
    background-color: var(--secondary);
    border: 1px solid var(--border);
    padding: 0.6rem 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    flex-grow: 1;
    caret-color: var(--title);
    color: var(--title);
    font-size: 1.2rem;
    transition: 0.2s;
}
.contact .form form input::placeholder, .contact .form form textarea::placeholder {
    font-size: 1rem;
    opacity: 0.9;
}
.contact .form form input:focus, .contact .form form textarea:focus,
.contact .form form input:hover, .contact .form form textarea:hover {
    outline: none;
    border: 1px solid rgb(45, 212, 191);
}
.contact .form form .submit{
    background-color: var(--secondary);
    color: var(--title);
    border: 1px solid var(--border);
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
    border-radius: 5px;
    transition: 0.2s;
}
.contact .form form .submit:hover {
    scale: 0.94;
}
.message{
    font-size: 20px;
    color: var(--title);
    margin-top: 1.7rem;
}