@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
html {
    font-family: "Roboto", sans-serif;
}
:root {
    --primary: #000;
    --secondary: rgb(24,24,27);
    --border: rgba(63, 63, 70, 0.4);
    --bgHeader: rgb(37,37,41);
    --title: rgb(244,244,245);
    --subTitle: rgb(142,142,152);
    --blue: rgb(93,188,252);
    --icon-hover: #d4d4d8;
}
.light {
    --primary: rgb(250, 250, 250);
    --secondary: rgb(255, 255, 255);
    --border: rgba(202, 202, 202, 0.518);
    --title: rgb(39,39,42);
    --subTitle: rgb(82,82,91);
    --bgHeader: rgb(253,253,253);
    --blue: rgb(0,149,246);
    --icon-hover: #333;
}
body{
    background-color: var(--primary);
}
.container {
    background-color: var(--secondary);
    padding: 0 3rem;
    border: 1px solid var(--border);
}
.divider {
    border-bottom: 1px solid var(--border);
    margin: 3rem 0;
    /* عشان ياخد ال width من اول ال containter */
    width: calc(100% + 3rem + 3rem);
    margin-left: -3rem;
}
button {
    all: unset;
}
button:hover{
    cursor: pointer;
}
button:active {
    scale: 0.9;
} 
button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
a{
    text-decoration: none;
}
.up-row {
    background-color: rgba(25, 118, 210, 0.85);
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2) ;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    font-size: 1.5rem;
    transition: 0.5s;
}
.up-row:hover {
    background-color: rgba(25, 118, 210, 1);
}
@media (max-width: 600px) {
    .up-row {
        opacity: 0.4;
        width: 2.2em;
        height: 2.2em;
    }
}